<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/admin_style.css">
</head>

<body>

    <header>
        <div class="header-wrapper">
            <div class="header-left">
                <h1>DBから店の名前かロゴがここに・・・！</h1>
            </div>
            <div class="header-right"><a href="">カートを確認する</a>　<a href="">注文履歴/会計確認</a></div>
        </div>
    </header>

    <main>

        <nav id="category" class="swipe-x">
            <ul>
                <li>ここは大分類リスト</li>
                <li>実際にはDBから大分類の</li>
                <li>テーブルをwhile文で</li>
                <li>ループさせる</li>
                <li>飲み物[今ここ]</li>
                <li>食べ物</li>
                <li>デザート</li>
                <li>サービス</li>
                <li>その他何かあれば</li>
            </ul>
        </nav>

        <div id="subcategory" class="sidebar">
            <ul>
                <li>ここは中分類リスト</li>
                <li>実際は大分類に紐づく</li>
                <li>中分類テーブルを</li>
                <li>while文でループさせる</li>
                <li>ビール</li>
                <li>ハイボール</li>
                <li>焼酎</li>
                <li>日本酒</li>
                <li>果実酒・サワー</li>
                <li>ソフトドリンク</li>
            </ul>
        </div>

        <div class="item-list">
            <div class="menu-item" id="">
                <p>商品名がここに入る</p>
                <p>商品説明がここに入るかも</p>
                <p>価格：()円(税込)</p>
                <img src="" alt="商品名がここに入ります">
            </div>
        </div>

    </main>

    <footer>
        <p>&copy;フッターいらない説あるなこれ</p>
    </footer>
</body>

</html>