@charset "UTF-8";

/* ダッシュボード */

.dashboard-button {
	aspect-ratio: 1 / 1;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 1rem;
}

.logout-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 0.8rem;
}

/* ワークステーション */

.dashboard-tab-button {
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-radius: 8px 8px 0 0;
	background-color: #f8f9fa;
	padding: 10px 20px;
	margin-right: 5px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

.dashboard-tab-button.active {
	background-color: white;
	border-bottom: none;
	color: #000;
}

.tab-container {
	border-bottom: 2px solid #ccc;
	margin-bottom: 1rem;
}

#clock {
	color: rgb(20, 255, 255);
	background-color: #080808;
	padding: 3px;
	border: 2px solid #555;
}



