<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理画面ダッシュボード</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/admin_style.css}">
</head>

<body>
	<div class="container mt-5 text-center">
		<h1 class="mb-4">管理画面ダッシュボード</h1>

		<div class="d-grid gap-3 col-6 mx-auto">
			<a th:href="@{/admin/dashboard/shop/list}" class="btn btn-outline-primary btn-lg">店舗一覧</a>
			<a th:href="@{/admin/dashboard/employee/list}" class="btn btn-outline-secondary btn-lg">従業員一覧</a>
			<a th:href="@{/admin/dashboard/shift/management}" class="btn btn-outline-success btn-lg">シフト管理</a>
			<a th:href="@{/admin/logout}" class="btn btn-outline-danger btn-lg">ログアウト</a>
		</div>

	</div>
</body>

</html>